/* La police Syne */
@font-face {
  font-family: 'Syne';
  src: url('../fonts/Syne-VariableFont_wght.ttf') format('truetype');
}

body * {
  font-family: 'Syne', 'Times New Roman', Times, serif;
}
.site-primary-header-wrap {
  padding-right: 0;
  padding-left: 0;
}

/* HEADER */
/* FOOTER */
.site-footer {
  font-size: 16px;
  text-align: center;

}